{% extends "layout.html" %}
{% block title %}Arabic{% endblock title %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-primary my-3">Arabic Sign Language Classification</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            
            <form method="POST" action="/arabic" enctype="multipart/form-data">
              <div class="mb-3">
                <input type="file" class="form-control" name="file" accept="image/*">
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Upload</button>
              </div>
            </form>

            <!-- Display the processed image if it exists -->
            {% if show_result %}
            <div class="mt-4 text-center">
                <h5>Canny Edges of {{edges_image}}</h5>
                <img src="{{ url_for('uploaded_file', filename=edges_image) }}" class="img-fluid" alt="Edges image">
            </div>
            
            <div class="mt-4 text-center">
                <h5>Prediction Result:</h5>
                <p>Predicted Class: {{ predicted_class }}</p>
            </div>

            {% endif %}

          </div>
        </div>
      </div>
    </div>
</div>

{% endblock content %}